.alertas-card {
  margin: 16px;
  background-color: var(--color-terciario);
  color: var(--bg-page);
  border-radius: 5px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

table {
  width: 100%;
}

h3{
    font-weight: 500;
}

.mat-mdc-button:not(:disabled){
    color: var(--bg-page);
}

.contenedorBoton{
    display: flex;
    justify-content: end;
    margin: 16px;
    padding-top: 30px;
}

app-boton-primario{
    width: 180px;
    height: 56px;
}
