
<h1>Módulo de Gestión de Inventario</h1>
<div class="contenedorBotonLote">
            <app-boton-primario (click)="abrirFormAgregarLote()" [buttonText]="'Agregar lote'"></app-boton-primario>
</div>
<div class="contenedorBuscador">
    <mat-form-field appearance="outline" class="inputBuscadorProducto">
    <mat-label>Id o nombre del producto</mat-label>
            <input matInput 
                  [(ngModel)]="producto" 
                  >
    </mat-form-field>
    <div class="contenedorBotonesSucursal">
        <app-boton-secundario [buttonText]="'Sucursal actual'"></app-boton-secundario>
        <app-boton-secundario [buttonText]="'Todas las sucursales'"></app-boton-secundario>
    </div>
</div>
<!-- archivo: medicamentos.component.html -->

<mat-card>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <!-- Código -->
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.codigo}} </mat-cell>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </mat-cell>
    </ng-container>

    <!-- Categoría -->
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.categoria}} </mat-cell>
    </ng-container>

    <!-- Stock -->
    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.stock}} </mat-cell>
    </ng-container>

    <!-- Sucursal -->
    <ng-container matColumnDef="sucursal">
      <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.sucursal}} </mat-cell>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.precio}} </mat-cell>
    </ng-container>

    <!-- Acción -->
    <!-- <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let elemento">
        <button mat-button *ngIf="elemento.stock < 5">Solicitar</button>
      </mat-cell>
    </ng-container> -->

    <!-- Encabezado y contenido -->
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

  </mat-table>
</mat-card>
