<mat-drawer-container class="contenedor">
    <mat-drawer mode="side" opened class="sidenav">
        <div class="sidenavContenedor">
                @for (opcion of navLateral; track opcion) {
                    @if (opcion.nombre === 'Cerrar Sesión') {
                        <a (click)="cerrarSesion()">{{opcion.nombre}}</a>
                        } @else {
                            <a [routerLink]="opcion.ruta">{{opcion.nombre}}</a>
                        }
                  }
        </div>
         
    </mat-drawer>
    <mat-drawer-content>
        <div class="contenidoPrincipal">
            <h1 *ngIf="mostrarBienvenida">Te damos la bienvenida al sistema</h1>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

