.contenedor{
    width: auto;
    max-height: calc(100vh - 90px);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}



.sidenav{
    background-color: var(--bg-color);
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid var(--color-accent);
    border-radius: 0px;
    height: calc(100vh - 90px);
}

.sidenavContenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 0 30px;
}

a{
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

a:last-child{
    padding-top: 100px;
}

mat-drawer-content {
  flex: 1;                
  display: flex;
  flex-direction: column;
}

.contenidoPrincipal{
    flex: 1;                 
    overflow-y: auto;     
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    height: auto;
    min-height: calc(100vh - 90px);
}
