/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--bg-page);
}
/* styles.css */

h1,h2{
    color: var(--color-accent);
}

:root {
  /* Colores primarios */
  --bg-page: #E9F1FA;
  --color-primary: #465A5F;
  /* --color-primary-50:  rgba(63, 81, 181, 0.1);
  --color-primary-100: rgba(63, 81, 181, 0.2); */

  /* Colores secundarios / accent */
  --color-accent:    #465A5F;
  /* --color-accent-50:  rgba(233, 30,  99,  0.1); */
  --color-secondary: #D0DAFF;
  /* Colores de alerta */
  --color-warn:      #f44336;
  --color-success:   #4caf50;
  
  /* Tipografía, fondos, etc. */
  --font-family:     'Roboto', sans-serif;
}
