.formContainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;
}

mat-form-field{
    padding-bottom: 10px;
}

h2{
    padding-bottom: 20px;
}

.btnContainer{
    display: flex;
    gap: 20px;justify-content: end;
    padding: 10px;

}

app-boton-primario, app-boton-secundario, app-boton-inactivo{
    width: 130px;
    height: 45px;
}
