<div class="formContainer">
    <h2>Agregar lote</h2>
    <mat-form-field>
        <mat-label>Seleccione producto</mat-label>
        <mat-select [formControl]="producto" required>
            <mat-option *ngFor="let prod of productos" [value]="prod.id_producto">
                {{ prod.nombre }}
            </mat-option>
        </mat-select>
        @if (producto.hasError('required')) {
        <mat-error>Por favor, elija un producto</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Seleccione proveedor</mat-label>
       <mat-select [formControl]="proveedor" required>
            <mat-option *ngFor="let p of proveedores" [value]="p.id_proveedor">
                {{ p.nombre }}
            </mat-option>
        </mat-select>
        @if (proveedor.hasError('required')) {
        <mat-error>Por favor, elija un proveedor</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput [formControl]="cantidad">
        @if (cantidad.hasError('required')) {
        <mat-error>Por favor, complete este campo</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Fecha de vencimiento</mat-label>
        <input matInput [formControl]="fechaVenc" type="date">
        @if (fechaVenc.hasError('required')) {
        <mat-error>Por favor, complete este campo</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Seleccione sucursal</mat-label>
        <mat-select [formControl]="sucursal" required>
            <mat-option *ngFor="let s of sucursales" [value]="s.id_sucursal">
                {{ s.direccion }}
            </mat-option>
        </mat-select>
        @if (sucursal.hasError('required')) {
        <mat-error>Por favor, elija una sucursal</mat-error>
        }
    </mat-form-field>

    <div class="btnContainer">
        <app-boton-secundario (click)="cerrarModal()" buttonText="Cancelar"></app-boton-secundario>
        @if (producto.hasError('required') || proveedor.hasError('required') || cantidad.hasError('required') ||
        fechaVenc.hasError('pattern') || fechaVenc.hasError('required') || sucursal.hasError('required')) {
        <app-boton-inactivo buttonText="Agregar Lote"></app-boton-inactivo>
        } @else {
        <app-boton-primario (click)="agregarLote()" buttonText="Agregar Lote"></app-boton-primario>
        }
    </div>
</div>