<h1>Módulo de ventas</h1>
<div class="contenedorBuscadorDni">
    <div class="contenedorBotonLote">
        <app-boton-primario (click)="abrirFormAgregarVenta()" [buttonText]="'Nueva venta'"
            class="botonAgregarDni"></app-boton-primario>
    </div>
</div>
<div class="contenedorBuscadorProducto">
    <mat-form-field appearance="outline" class="inputBuscadorProducto">
        <mat-label>Id de la venta</mat-label>
        <input matInput [(ngModel)]="producto" (ngModelChange)="filtrarPorIdVenta()">
    </mat-form-field>
    <div class="contenedorBotonesSucursal">
        <app-boton-secundario [buttonText]="'Sucursal actual'"></app-boton-secundario>
        <app-boton-secundario [buttonText]="'Todas las sucursales'"></app-boton-secundario>
    </div>
</div>

<mat-card>
    <mat-table [dataSource]="ventasFiltradas" class="mat-elevation-z1">

        <ng-container matColumnDef="idVenta">
            <mat-header-cell *matHeaderCellDef> Id Venta </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.id_venta}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.fecha | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sucursal">
            <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.sucursal.direccion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioTotal">
            <mat-header-cell *matHeaderCellDef> Precio final </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> ${{elemento.total_final}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accion">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let elemento">
                <button mat-button color="primary">
                    Ver
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

    </mat-table>
</mat-card>
<div class="spinner" *ngIf="cargando">
    <mat-spinner diameter="60" color="accent"></mat-spinner>
    <p>Cargando datos...</p>
</div>
<div *ngIf="ventasFiltradas.length === 0 && producto.trim() !== ''" class="mensaje-no-encontrado">
  Venta no encontrada
</div>